<div class="container content">
  <div class='page-header'>
    <h1>About us <small> Meet nieghbots. Get Connected.</small> </h1>
  </div>

  <h1>Mission: </h1>

  <p>Meeting people can often be challenge, when only passing by on another, and busy schedules. 

  Apartment social has a mission of helping neighbors find social harmony within their buildings 

  by offering a new meet. </p>

  <h1> The What: </h1>

  <p>Apartment social is application that facilitates geo­based interaction, by allowing neighbors to 

  share when they are home, open to hanging out, and with whom they may share similar 

  interest, whether they’ve already met or if they already know each other and line­up in there chill 

  time desires.</p>

</div>